@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Mono", serif;
}

/* HEADER */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.img-wrapper {
    flex: 0 0 auto;
    max-width: 50%;
    overflow: hidden;
    position: relative;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.img-wrapper picture,
.img-wrapper img {
    max-width: 100%;
    height: auto;
}

.about-me {
    flex: 0 0 50%;
    max-width: 50%;
}

@media (max-width: 640px) {
    .flex-container {
        flex-direction: column;
    }

    .img-wrapper,
    .about-me {
        flex: 1;
        max-width: 100%;
    }
}

/* MAIN */
.main-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    overflow: hidden;
    padding: 20px;
}

.main-work-section {
    flex: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media query for tablets */
@media (max-width: 1024px) {
    .main-work-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media query for phones */
@media (max-width: 640px) {
    .main-work-section {
        grid-template-columns: 1fr; 
    }

    footer {
        flex-direction: column;
        align-items: center; 
    }
}

.project {
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: transform 700ms ease, box-shadow 700ms ease;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.188) 0px 8px 24px;
}

.project-image {
    height: 200px;
    width: auto;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image p {
    font-size: 24px;
}

.one {
    background-color: #fffff7;
}

.two {
    background-color: #fbfbeb;
}

.three {
    background-color: #e2e2d4;
}

.four {
    background-color: #c9c9bc;
}

.five {
    background-color: #b5b5a9;
}

.six {
    background-color: #a3a398;
}

.project-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-links,
.links {
    font-size: 24px;
}

/* FOOTER */
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contact-me {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 0;
}

.contact-me section {
    padding-right: 20px;
}

.image-wrapper {
    flex: 0 0 50%;
    max-width: 50%;
    overflow: hidden;
    position: relative;
}

.image-wrapper picture,
.image-wrapper img {
    max-width: 100%;
    height: auto;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

/* PHONE */
@media (max-width: 640px) {
    footer {
        flex-direction: column;
    }

    .contact-me {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
        margin-bottom: 0; 
    }

    .contact-me,
    .image-wrapper {
        flex: 1;
        max-width: 100%;
    }
}